[Unit]
Description=LXC Container Monitoring Daemon
After=syslog.service network.target

[Service]
Type=simple
ExecStart=/usr/lib/x86_64-linux-gnu/lxc/lxc-monitord --daemon
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
